<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- The blank blue top bar -->
    <nav id="topbar"></nav>

    <!-- Bottom navigation bar-->
    <nav>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='Home.png') }}"></a>
        <a href="{{ url_for('chat') }}"><img src="{{ url_for('static', filename='Messages.png') }}"></a>
        <a href="{{ url_for('calendar') }}" id="cal"><img src="{{ url_for('static', filename='Calendar.png') }}"></a>
        <a href="{{ url_for('more') }}"><img src="{{ url_for('static', filename='more.png') }}"></a>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
