<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- The blank blue top bar -->
    <nav id="header"></nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Bottom navigation bar-->
    <nav id="bottombar">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='Home.png') }}"></a>
        <a href="{{ url_for('chat') }}"><img src="{{ url_for('static', filename='Messages.png') }}"></a>
        <a href="{{ url_for('calendar') }}" id="cal"><img src="{{ url_for('static', filename='Calendar.png') }}"></a>
        <a href="{{ url_for('more') }}"><img src="{{ url_for('static', filename='more.png') }}"></a>
    </nav>
</body>

</html>