{% extends 'base.html' %}

{% block title %}Breathing Exercise{% endblock %}

{% block content %}

<h1>Breathing Exercises</h1>

<h3>Welcome! Please select a breathing exercise:</h3>


<div class="b-e-holder-holder">
    <div class="breath-exercises">
        <a href="{{ url_for('box') }}">
            Box Breathing →
        </a>
        <a href="{{ url_for('deep') }}">
            Deep Breathing →
        </a>
        <a href="{{ url_for('winHof') }}">
            Win Hof Breathing →
        </a>
    </div>
</div>
{% endblock %}  
