{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1>AI-Powered Chat</h1>
<h3>Simulate real conversations with a highly-trained AI.</h3>

<template id="msg">
    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my text</div>
    </div>
</template>

<div id="msg-zone">
    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">How can I help you today?</div>
    </div>
</div>

<div id="usr-msg-holder">
    <textarea placeholder="Suggestion"></textarea>
    <button>↑</button>
</div>

{% endblock %}