{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1>AI-Powered Chat</h1>
<h3>Simulate real conversations with a highly-trained AI.</h3>

<div class="msg-zone">
    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my text</div>
    </div>
    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my textHi this is my textHi this is my textHi this is my textHi this is my text</div>
    </div>
    
    <div class="chat-msg-holder user">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my text</div>
    </div>
    <div class="chat-msg-holder user">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my textHi this is my textHi this is my textHi this is my textHi this is my text</div>
    </div>

    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my text</div>
    </div>
    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my textHi this is my textHi this is my textHi this is my textHi this is my text</div>
    </div>
    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my textHi this is my textHi this is my textHi this is my textHi this is my text</div>
    </div>

    <div class="chat-msg-holder user">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my text</div>
    </div>
    <div class="chat-msg-holder user">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my textHi this is my textHi this is my textHi this is my textHi this is my text</div>
    </div>

    <div class="chat-msg-holder">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my textHi this is my textHi this is my textHi this is my textHi this is my text</div>
    </div>
    
    <div class="chat-msg-holder user">
        <img src="x.png">
        <div class="chat-msg-text">Hi this is my textHi this is my textHi this is my textHi this is my textHi this is my text</div>
    </div>
</div>

<div class="usr-msg-holder">
    <textarea placeholder="Suggestion"></textarea>
    <button class="send-btn">↑</button>
</div>

{% endblock %}