{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1>AI-Powered Check-Ins</h1>
<h3>Simulate therapy with a highly-trained AI.</h3>

<template id="msg">
    <div class="chat-msg-holder">
        <img src="{{ url_for('static', filename='Normalperson.png') }}">
        <div class="chat-msg-text">Hi this is my text</div>
    </div>
</template>

<div id="msg-zone">
    <div class="chat-msg-holder">
        <img src="{{ url_for('static', filename='AItherapist.png') }}">
        <div class="chat-msg-text">How are you feeling today?</div>
    </div>
</div>

<div id="usr-msg-holder">
    <textarea placeholder="Suggestion"></textarea>
    <button>↑</button>
</div>

{% endblock %}