{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if 'username' in session %}
    
    <h1>Welcome, Jay</h1>
{% else %}
    <h1>Welcome, Guest</h1>
{% endif %}

<hr>
<h3>Get started by selecting an activity below:</h3>

<div class="activities-holder-holder">
    <div class="activities">
        <a href="{{ url_for('breathing') }}">
            <div class="activity-frame breathing">
                <span class="info-text">Breathing<br> Exercises ></span>
                <img src="">
            </div>
        </a>
        <a href="{{ url_for('chat') }}">
            <div class="activity-frame chat">
                <span class="info-text">Daily Check-Ins ></span>
            </div>
        </a>
        <a href="{{ url_for('more') }}">
            <div class="activity-frame resources">
                <span class="info-text">Resources ></span>
            </div>
        </a>
        <a href="{{url_for('show_calendar_redirect')}}">
            <div class="notifications">
                <h3>Today's Notifications</h3>
                <hr>
                <p>Doctor's Appointment (4pm)</p>
                <p>Daily walk (6pm)</p>
            </div>
        </a>
    </div>
</div>

<div id="image-holder">
    <img src="{{ url_for('static', filename='troop_on_grass.svg') }}">
</div>

{% endblock %}