{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Welcome {Name}</h1>

<div class="notifs-holder-holder">
    <div class="notifs">
        <a href="{{ url_for('breathing') }}">
            <div class="notif-frame">
                <span class="info-text">Breathing<br> Exercises</span>
                <span class="interact-text">Start</span>
            </div>
        </a>
        <a href="{{ url_for('breathing') }}">
            <div class="notif-frame">
                <span class="info-text">Appointments & <br> Medication</span>
                <span class="interact-text">View</span>
            </div>
        </a>
        <a href="{{ url_for('breathing') }}">
            <div class="notif-frame">
                <span class="info-text">Daily Check-Ins</span>
                <span class="interact-text">Start</span>
            </div>
        </a>
    </div>
</div>

{% endblock %}