{% extends 'base.html' %}

{% block title %}Hotline{% endblock %}

{% block content %}

<a href="{{ url_for('more') }}"><p class="back"><b>< Back</b></p></a>
<h1>Resources & Hotline</h1>
<br>
<h2 style="text-align: left;">Emergency Hotlines</h2>
<hr>
    <h2 style="text-align: left;" class="resourceh2">Crisis Line: Dial 988, then press 1</h2>
<hr>
    <h2 style="text-align: left;" class="resourceh2">Text 838255</h2>
<hr>
<a href="https://www.veteranscrisisline.net/get-help-now/chat/">
    <h2 style="text-align: left;" class="resourceh2">OR chat online at <u>VeteransCrisisLine.net/Chat</u></h2>
</a>
<hr>

<br>
<h2 style="text-align: left;">VA Mental Health Services</h2>
<hr>
<a href="https://www.warriorsheart.com/virginia/">
    <h2 style="text-align: left;" class="resourceh2"><u>Warriors Heart Virginia</u></h2>
</a>
<hr>
<a href="https://bouldercrest.org/">
    <h2 style="text-align: left;" class="resourceh2"><u>Boulder Crest Foundation</u></h2>
</a>
<hr>
<a href="https://vetsretreatvirginia.org/">
    <h2 style="text-align: left;" class="resourceh2"><u>Vets' Retreat Virginia</u></h2>
</a>
<hr>
<a href="https://www.woundedwarriorproject.org/">
    <h2 style="text-align: left;" class="resourceh2">Nationwide - <u>Wounded Warrior Project</u></h2>
</a>
<hr>

<br>
<h2 style="text-align: left;">Support & Donate</h2>
<hr>
<a href="https://thefund.org/">
    <h2 style="text-align: left;" class="resourceh2"><u>Semper Fi & America’s Fund</u></h2>
</a>
<hr>
<a href="https://www.garysinisefoundation.org/">
    <h2 style="text-align: left;" class="resourceh2"><u>Gary Sinise Foundation</u></h2>
</a>
<hr>
<a href="https://virginiaveteransservicesfoundation.org/">
    <h2 style="text-align: left;" class="resourceh2"><u>Virginia Veterans Services Foundation</u></h2>
</a>
<hr>
<br>
<br>
{% endblock %}